https://download.pytorch.org/whl/cpu/torch-1.7.0%2Bcpu-cp37-cp37m-linux_x86_64.whl
gdown==3.12.2
zip-files==0.3.0
streamlit==0.70.0
pandas==1.1.4
numpy==1.18.5
transformers==3.4.0
protobuf==3.13.0
matplotlib==3.2.0
psutil==5.7.2
git+https://github.com/gmihaila/ml_things
